@import '../../variables';

.formControl {
  width: 100%;
}

.input {
  font-size: $body;
  padding: 0.75rem;
  border-radius: 5px;
  width: 100%;
  color: $text-primary;
  margin-bottom: $spacing-2;
  background-color: $background-color-light;
  outline: none;
  border: 5px solid transparent;
  transition: all ease-in-out 300ms;
  &:focus {
    border-color: $secondary;
  }
}

.label {
  text-align: center;
  display: block;
  margin-bottom: $spacing-2;
  margin-top: $spacing-2;
  color: $primary;
}
