@import '../variables';
.about-page {
  background-color: $background-color-light;
  padding: $spacing-1;
  margin-bottom: $spacing-1;
  border-radius: 5px;
  .plants {
    margin-top: $spacing-1;
    list-style: none;
    li {
      margin-bottom: $spacing-0;
    }
  }
}
