@import '../../variables';

.article-preview {
  // background-color: $background-color-light;
  // padding: $spacing-1;
  margin-bottom: $spacing-0;
  // border-radius: 5px;
  .header {
    a {
      text-decoration: none;
    }
    .date {
      font-size: $caption;
      color: $text-secondary;
      margin-bottom: $spacing-0;
    }
    .title {
      margin: 0;
      border: none;
    }
  }
  .tags-preview {
    display: flex;
    a {
      margin-right: $spacing-0;
      text-decoration: none;
    }
  }
  .excerpt {
    .text {
      margin-bottom: $spacing-0;
    }
  }
}
