$background-color: #003049;
$background-color-light: #134864;
$text-primary: #eee;
$text-secondary: #56a3a6;
$primary: #e3b505;
$secondary: #fc6471;
$body: 1rem;
$caption: 0.85rem;
$spacing-0: 0.5rem;
$spacing-1: 1.1rem;
$spacing-2: 1.5rem;
$spacing-3: 2.5rem;
